/*
===================
Global Style
=============
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
===================
Header
=============
*/

header {
  display: flex;
  width: 100%;
  font-size: 1.6rem;
}

nav {
  display: flex;
  width: 100%;
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}

.list-item {
  margin-left: 1rem;
}

.menu-icon {
  width: 3rem;
}

.avatar {
  width: 4rem;
  border-radius: 50%;
}

/*
===================
Main
=============
*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.logo {
  width: 25rem;
  margin-bottom: 2rem;
}

form {
  width: 100%;
}

.search__container {
  display: flex;
  flex: 1;
  align-items: center;
  width: auto;
  background-color: transparent;
  max-width: 58.4rem;
  height: 4.4rem;
  padding: 1rem;
  border-radius: 5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.search__container > *:not(:first-child) {
  margin-left: 2rem;
}

.search__container:hover {
  box-shadow: 0.3rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
}

.search__input {
  flex: 1;
  border: 0;
  outline: 0;
  height: 3.9rem;
}

.search__icon,
.keyboard-icon,
.microphone-icon {
  font-size: 1.6rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.btn__container {
  max-width: 35rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.btn__container .btn:not(:first-child) {
  margin-left: 2rem;
}

.btn {
  padding: 1rem;
  outline: none;
  border: none;
  background-color: #3c404307;
  border-radius: 0.5rem;
}

.btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

main p {
  font-size: 1.6rem;
}

main p span {
  color: #3c40439d;
  cursor: pointer;
  margin-left: 1rem;
}

main p span:hover {
  text-decoration: underline;
}

/*
===================
Footer
=============
*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10.2rem;
  background: #f2f2f2;
}

footer header {
  padding: 1rem;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.links__container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.6rem;
}

.links__container ul {
  display: flex;
  align-items: center;
}

.links__container ul > *:not(:first-child) {
  margin-left: 2rem;
}
